@keyframes rotate {
    0%      {transform: rotate(0deg);}
    100%    {transform: rotate(360deg);}
}

@keyframes blink {
    0%      {background-color: rgb(255, 182, 133);}
    100%    {background-color: rgb(119, 119, 219);}
}

.container_image {
    width: inherit;
    display: flex;
    justify-content: center;
}

.container_image img:hover {
    animation: 1s linear 0s infinite rotate;
}


#main-extravagant {
    animation: 1s ease-in-out 0s infinite alternate blink;
}

.container_3d {
    display: flex;
    justify-content: space-around;
}

.container_3d img {
    height: 35vh;
}