/* Reset CSS */
* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: sticky;
    top: 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

#main_home section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Media Queries pour le côté responsive */
@media screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 576px) {
    nav ul li {
        margin-right: 0;
    }
}


h2 {
    color: darkred;
}

.categorie {
    color: rgb(119, 85, 40);
}

#nom {
    color: blue;
}

#img_home {
    width: 100px;
    position: fixed;
    top: 15%;
    right: 1%;
}

#dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: darkolivegreen;
    padding-left: 1%;
    padding-right: 1%;
}

#dropdown:hover #dropdown_contenu {
    display: block;
    background-color: #333;
    padding-top: 30%;
}

#dropdown_contenu {
    display: none;
    position: absolute;
    left: -1%;
    width: inherit;
}



#dropdown_contenu ul li{
    display: block;
}


audio {
    display: block;
}


body {
    /* background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)); */
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(135, 129, 255) 0%, rgba(133,221,238,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


main section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container, .container a {
    width: 200px;
    height: 300px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgb(32, 32, 32);
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
}

.container a:hover {
    width: 210px;
    height: 305px;
}

.container a hr {
    font-style: normal;
    width: 200px;
    height: 0;
}

.container a p {
    padding: 0.5em;
    max-width: 200px;
}

.lessons .container:nth-of-type(odd) {
    background-color: white;
}

.lessons .container:nth-of-type(even) {
    background-color: rgb(85, 172, 187);
}

.tp .container:nth-of-type(odd) {
    background-color: rgb(255, 232, 197);
}

.tp .container:nth-of-type(even) {
    background-color: rgb(187, 151, 85);
}

.container_bob {
    background-image: url(../images/ananas2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bob {
    margin-left: 30vw;
    width: 300px;
}

#bob2 {
    margin-right: 0vw;
}


/* tableaux */

/* tab 1 */
table:nth-of-type(1) {
    background-color: antiquewhite;
    margin-left: -20px;
    width: calc(100vw - 15px);
    border-collapse: collapse;
}

table:nth-of-type(1) td,
table:nth-of-type(1) th {
    border: 1px solid black;
    text-align: center;
}

table:nth-of-type(1) th:nth-of-type(1),
table:nth-of-type(1) td:nth-of-type(1) {
    width: 5vw;
}


/* tab 2 */
table:nth-of-type(2) {
    margin-top: 5vh;
    margin-left: calc(-20px + 25vw);
    width: 50vw;
    border-collapse: collapse;
}

table:nth-of-type(2) td,
table:nth-of-type(2) th {
    border: 1px solid black;
    text-align: center;
}

table:nth-of-type(2) td img {
    width: 10vw;
}

