form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

form h4 {
    margin-bottom: 1em;
}

form textarea {
    min-height: 2em;
    max-height: 500px;
    min-width: 10em;
    max-width: 100%;
}

button a {
    text-decoration: none;
    color: black;
}